* @RoyalAholdDelhaize/pdl-devops @RoyalAholdDelhaize/pdl-data-integrations

/.github/workflows @RoyalAholdDelhaize/pdl-devops
/pipelines @RoyalAholdDelhaize/pdl-devops
CODEOWNERS @RoyalAholdDelhaize/pdl-devops
